.lunbotu{
	text-align: center;
}

#lunbotu{
	width: auto%;
	height: 100%;
}

.small_font #hidden{
	display: none;
	position:absolute;
	top:150px;
	left: 150px;
	background-color: pink;
	border: dashed;
	width: 300px;
}

.receive_status{
	display:flex;
	text-align: center;
	margin:2px;
}

.receive_status .middle_status{
	flex:1;
}
 
.left_float{
	float: left;
}
.right_float{
	float: right;
}

#border_info{
	border-style: dashed;
	border-color: red;
}

.small_font{
	font-size: 14px;
}

.middle{
	clear: both;
	margin-top:10px;
    margin-bottom:10px;
    border-style: dotted;
}

.middle .upper{
	display:flex;
	clear: both;
	margin-top:10px;
    margin-bottom:10px;
	/*margin:0 auto;border:1px solid #000;width:300px;height:100px*/
}

.middle .upper .img-logo{
	float:left;
	margin-left:10px;
	margin-right:10px;
}
.middle .upper .QRcode{
	margin-left:10px;
	margin-right:10px;
}

.middle .upper .searchBox{
	flex:1;
	float:left;
	text-align:left;
	position:relative;
	left: 80px;
}

.middle .upper .searchBox form input{
	height: 25px;
	width:50%;
}

.middle .upper .QRcode{
	float:right;
}

.middle .center{
	clear: both;
	display: flex;
}
.middle .center .left_menu{
	height: 100%; width: 170px;
	margin-left:10px;
}

.middle .center .left_menu i{
	float:right;
}

.middle .center .middle_menu{
	background:yellow;
	flex: 1;
	margin-left:10px;
	margin-right:10px;
}

.middle .center .right_menu{
	height: 100%; width: 170px;
	margin-right:10px;
}
.center .inner_first{
	text-align: center;
	background: pink;
}


.middle .lower{
	clear: both;
	margin-top:10px;
    margin-bottom:10px;
}

.middle .leftMenu ul{
    border: dotted ;
    left: 20px;
}
